{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {# {{ encore_entry_link_tags('contact') }} #}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block body %}
    <div>
        <h1>Bonjour {{ controller_name }}! ✅</h1>
        {{ form(form) }}
    </div>

    </div>
{% endblock %}